.place__text {
    font-size: 18px;
    line-height: 1.63;
    grid-area: text;
    max-width: 93%;
}

@media screen and (max-width: 768px) {
    .place__text {
        line-height: 26px;
    }
}

@media screen and (max-width: 590px) {
    .place__text {
        max-width: 91%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 395px) {
    .place__text {
        max-width: 90%;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 5vw;
    }
}