.lead__title {
    max-width: 73%;
    margin: 0 auto 32px auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        font-size: 9.4vw;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 94%;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 12vw;
        line-height: 44px;
    }
}