.footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .footer__list {
        display: flex;
        max-height: 90%;
        min-height: 90%;
        flex-direction: column;
        gap: 32px;
    }
}